@{
    ViewBag.Title = "Paraply hjem";
    AjaxOptions opts = new AjaxOptions
    {
        UpdateTargetId = "search_result",
        HttpMethod = "GET",
    };
}
<h2>Nåværende værvarsel.</h2>


@*
 @using (Ajax.BeginForm("Index", "Home", 
            new AjaxOptions { HttpMethod = "GET", 
                              InsertionMode = InsertionMode.Replace, 
                              UpdateTargetId = "searchResults" }))
 {
    <input name="q" type="text" />
    <input type="submit" value="Search" />
 }

 @Html.Partial("_RestaurantList", Model)

*@

@using (Ajax.BeginForm("ForecastUpcomming", "Weather", opts))
{
    <span>Sted:</span>
    <input type="text" name="place" data-autocomplete="@Url.Action("QuickSearch", "Location")" />       
    <input type="submit" id="search" value="Vis varsel" />
}

<div id="search_result" />

@section Script
{
    <script src="@Url.Content("~/Scripts/home_index.js")" type="text/javascript"></script>
}


@section Footer {

    <p>This is the footer</p>    
}

