@{
    ViewBag.Title = "Forecast";
    AjaxOptions opts = new AjaxOptions
    {
        UpdateTargetId = "search_result",
        HttpMethod = "POST",
    };
}

<h2>Din nåværende posisjon</h2>

@using (Ajax.BeginForm("LocationForecast", "Weather", opts))
{
    <p>Latitude: <input type="text" id="latitude" name="latitude" /></p>
    <p>Longitude: <input type="text" id="longitude" name="longitude" /></p>       
    <input type="submit" id="search" value="Hent værvarsel for denne lokasjonen" />
}

<div id="search_result" />

